<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		 
		<div class="container-fluid">
			<h1>Sistem Informasi Kepegawaian</h1>
			<h5>Selamat datang di Sistem Informasi Kepegawaian</h5>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Data Pegawai Berdasarkan NIP
						</div>
						<form th:action="@{/pegawai}" method="GET">
							<div class="card-body">
								<label class="card-text">Masukan Nomor Induk Pegawai</label>
								<input type="text" name="nip" class="form-control"/>
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Detail Jabatan
						</div>
						<form th:action="@{/jabatan/view}" method="GET">
							<div class="card-body">
								<label class="card-text">Pilih Jabatan</label>
								<select name="idJabatan">
								  <option th:each="jabatan : ${semuaJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
								</select>
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Pegawai Termuda dan Tertua
						</div>
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<div class="card-body">
								<label class="card-text">Pilih Instansi</label>
								<select name="idInstansi">
								  <option th:each="instansi : ${semuaInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"></option>
								</select>
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
		</div>
		
	</body>
</html>
