<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Jabatan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		
		<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		
		<script>
		$(document).ready(function() {
		    $('#table_jabatan').DataTable();
		} );
		</script>
		
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div style="margin-left: 20px; margin-right: 20px;">
			<h1 th:text="'Detail Semua Jabatan'"></h1>
			
			<hr>
			
			<table id="table_jabatan" class="display" style="width:100%">
			    <thead>
			        <tr>
			            <th th:text="'Nama'"></th>
			            <th th:text="'Deskripsi'"></th>
			            <th th:text="'Gaji Pokok'"></th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="jabatan : ${semuaJabatan}">
			            <td th:text="${jabatan.nama}"></td>
			            <td th:text="${jabatan.deskripsi}"></td>
			            <td th:text="${jabatan.gajiPokok}"></td>
			        </tr>
			    </tbody>
			</table>
		
		</div>
	</body>
</html>